<div class="mini-card">
    <!-- <div class="wrapper">
        <input checked type=radio name="slider" id="slide1" />
        <input type=radio name="slider" id="slide2" />
        <input type=radio name="slider" id="slide3" />

        <div class="slider-wrapper">
            <div class=inner>
                <article>
                    <img [src]="img" />
                </article>
                <article>
                    <img [src]="img" />
                </article>
                <article>
                    <img [src]="img" />
                </article>
            </div>
        </div>

        <div class="slider-prev-next-control">
            <label for=slide1></label>
            <label for=slide2></label>
            <label for=slide3></label>
        </div>

        <div class="slider-dot-control">
            <label for=slide1></label>
            <label for=slide2></label>
            <label for=slide3></label>
        </div>
    </div> -->
    <img [src]="img" alt="">
    <div class="mini-card__container" (click)="route()">
        <div class="mini-card__text">
            <span class="mini-card__title">{{house.house_name}}</span>
            <span class="mini-card__address">{{house.adress}}</span>
        </div>
        <div class="mini-card__price">
            от {{calcMinPrice(house)}} ₽
        </div>
    </div>
</div>