<div class="partnership">
    <app-header></app-header>
    <div class="partnership__body">
        <span class="partnership__title">
            Сотрудничество с нами
        </span>
        <p class="partnership__text">
            Хотите узнать, как можно начать сотрудничество с Domiktut.ru? Мы подготовили подробное видео, в котором
            расскажем о трёх вариантах, которые мы предлагаем. Посмотрите его, чтобы понять, какой из вариантов наиболее
            подходит для вас!
        </p>
        <div class="">
            <svg width="267" height="170" viewBox="0 0 267 170" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="267" height="170" rx="10" fill="white" />
                <circle cx="132" cy="87" r="49.5" stroke="black" />
                <path d="M109.75 125.173L109.75 49.8271L175.001 87.5L109.75 125.173Z" stroke="black" />
            </svg>
        </div>
        <p class="partnership__text">
            Если вы предпочитаете более детально обдумать предложение, можете скачать нашу презентацию. В ней мы
            раскрываем все подробности и преимущества каждого из вариантов сотрудничества.
        </p>
        <p class="partnership__text">
            Мы уверены, что каждый может найти для себя идеальный вариант, а если у вас остались вопросы, всегда готовы
            помочь. Для того чтобы начать сотрудничество, просто свяжитесь с нашим администратором в Telegram-канале.
            Нажмите на кнопку «Связаться с нами» в главном меню, и вы сразу попадёте в чат с администратором.
        </p>
        <p class="partnership__text">
            Не теряйте времени — давайте начнём работать вместе!
        </p>
    </div>
</div>