<div class="page-request">
    <span class="page-request__title">Оставьте заявку</span>
    <div class="page-request__selected-house" *ngIf="house | async as house">
        <span class="page-request__selected-house-title">Выбранный дом</span>
        <app-mini-card [house]="house" [isOpenInFormRequest]="true"></app-mini-card>
    </div>
    <form class="page-request__form form" [formGroup]="formRequest">
        <div class="form__row row">
            <span class="row__title">Желаемые даты заезда и выезда</span>
            <div class="row__body">
                <div class="row__input">
                    <label for="dateOfArrival">Дата заезда</label>
                    <input type="tel" id="dateOfArrival" formControlName="dateOfArrival" placeholder="01.03">
                    <div *ngIf="formRequestControl['dateOfArrival'].touched && formRequestControl['dateOfArrival'].errors?.['pattern']"
                        class="row__error">
                        Допустимый формат 'дд.мм'</div>
                </div>
                <div class="row__input">
                    <label for="dateOfDeparture">Дата выезда</label>
                    <input type="tel" id="dateOfDeparture" formControlName="dateOfDeparture" placeholder="02.03">
                    <div *ngIf="formRequestControl['dateOfDeparture'].touched && formRequestControl['dateOfDeparture'].errors?.['pattern']"
                        class="row__error">
                        Допустимый формат 'дд.мм'</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row__input">
                <label for="quanitityOfPeople">Кол-во человек</label>
                <input type="tel" id="quanitityOfPeople" formControlName="quanitityOfPeople" placeholder="0">
                <div *ngIf="formRequestControl['quanitityOfPeople'].touched && (formRequestControl['quanitityOfPeople'].errors?.['min'] || formRequestControl['quanitityOfPeople'].errors?.['max'])"
                    class="row__error">
                    Недопустимое значение</div>
            </div>
        </div>
        <div class="row">
            <span class="row__title">Укажите ваши контактные данные и предпочтительный способ связи</span>
            <div class="row__input">
                <label for="name">Ваше имя</label>
                <input type="text" id="name" formControlName="name" placeholder="Имя" required>
                <div *ngIf="formRequestControl['name'].touched && formRequestControl['name'].errors?.['pattern']"
                    class="row__error">
                    Недопустимое значение</div>
                <div *ngIf="formRequestControl['name'].touched && formRequestControl['name'].errors?.['required']"
                    class="row__error">
                    Обязательное поле</div>
            </div>
            <div class="row__body">
                <div class="row__input">
                    <label for="phone">Телефон</label>
                    <input type="tel" id="phone" formControlName="phone" placeholder="71234567890"
                        pattern="[0-9]{1}[0-9]{3}[0-9]{3}[0-9]{4}">
                    <div *ngIf="formRequestControl['phone'].touched && formRequestControl['phone'].errors?.['pattern']"
                        class="row__error">
                        Недопустимый формат, пример: 71234567890</div>
                </div>
                <div class="row__input">
                    <label for="telegram">Телеграм</label>
                    <input type="tel" id="telegram" formControlName="telegram" placeholder="@username">
                    <div *ngIf="formRequestControl['telegram'].touched && formRequestControl['telegram'].errors?.['pattern']"
                        class="row__error">
                        Недопустимый формат</div>
                </div>
            </div>
        </div>
        <div class="form-btns">
            <button type="button" (click)="sumbitForm()">Оставить заявку</button>
        </div>
    </form>
</div>