.select-geo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 150px;
}

.select-geo-text {
    font-size: 18px;
    color: black;
}

// .select-geo-btn {
//   width: 150px;
//   cursor: pointer;
//   border: none;
//   border-radius: 200px;
//   padding: 10px;
//   text-align: center;
//   font-weight: 600;
//   font-size: 18px;
//   line-height: 150%;
//   font-size: 18px;
//   background: #f4683f;
//   color: #fff;
// }
