<div class="about">
    <app-header></app-header>
    <div class="about__body">
        <span class="about__title">
            о нас
        </span>
        <p class="about__text">
            Чтобы понять, кто мы и почему нам можно доверять, посмотрите наше видео. Мы расскажем, как работаем, чем
            отличаемся и почему для нас так важен каждый клиент.
        </p>
        <div class="">
            <svg width="267" height="170" viewBox="0 0 267 170" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="267" height="170" rx="10" fill="white" />
                <circle cx="132" cy="87" r="49.5" stroke="black" />
                <path d="M109.75 125.173L109.75 49.8271L175.001 87.5L109.75 125.173Z" stroke="black" />
            </svg>
        </div>
        <p class="about__text">
            Domiktut.ru — это не просто аренда домов. Это сервис с человеческим лицом, где важны не только стандартные
            процессы, но и внимание к деталям и забота о вас. Мы не стремимся к автоматизации на всех уровнях, как это
            делают массовые агрегаторы. Мы хотим, чтобы у каждого клиента был индивидуальный опыт, а отношения строились
            на доверии, уважении и чувстве правильного выбора. Ведь именно по этому мы настолько досконально знаем свои
            продукты.
        </p>
        <p class="about__text">
            С 2014 года мы начали заниматься арендой домов, и с тех пор у нас всё стало получаться настолько хорошо, что
            мы просто не смогли остановиться. Мы постепенно масштабировались: сегодня мы не только помогаем сдавать дома
            посуточно как агенты, но и берём дома в управление продажами или полностью управляем недвижимостью.
        </p>
        <p class="about__text">
            Со временем нам стали доверять не только дома и квартиры посуточно, а также гостиницы и глэмпинги. Мы всегда поддерживаем высокий стандарт качества и заботы о клиентах.
        </p>
        <p class="about__text">
            Мы сами приезжаем, смотрим каждый объект, общаемся с хозяевами, фотографируем, проверяем всё до мелочей. Потому что хотим, чтобы у вас не было неприятных неожиданностей — только кайф от отдыха.
        </p>
        <p class="about__text">
            Наша команда — сильная, клиентоориентированная и с уникальным опытом. В нашей команде есть отельеры, аналитики, продажники, маркетологи, СММщики и другие профессионалы, которые знают, как создать идеальный сервис. Мы любим своё дело, ценим людей и верим, что посуточная аренда должна быть простой, удобной и комфортной для каждого.
        </p>
        <p class="about__text">
            У нас больше 100 проверенных объектов в Казани и Москве, высокий рейтинг (в среднем 4,7 из 5) и отличная репутация, которую мы бережём каждый день.        </p>
        <p class="about__text">
            *Domiktut.ru — сервис с человеческим лицом.        </p>
    </div>
</div>