button {
  font-size: 16px;
}

input {
  border: 1px solid #eeeeee;
  border-radius: 20px;
  padding: 10px 10px 10px 35px;
  font-size: 17px;
  outline: none;
}

input[type="checkbox"] {
  accent-color: #f4683f;
}

label {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}

.search-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border: 1px solid #eeeeee;
  border-radius: 20px;

  &__close {
    padding: 10px 10px 0 0;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
}

.search {
  position: relative;
  display: flex;
  padding: 10px;

  &__icon {
    position: absolute;
    width: 40px;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
  }

  &__input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    font-size: 17px;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding: 10px;
  gap: 15px;

  input {
    padding: 10px;
    font-size: 14px;
  }

  &__btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
  }
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: Raleway;
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
  }

  &__body {
    &_two-element {
      display: grid;
      gap: 5px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

.type-house {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    flex-direction: row;
  }

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__block {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.btns {
  &__clear {
    display: flex;
    font-size: 18px;
    color: #f4683f;
    text-decoration: underline;
    text-decoration-color: black;
    cursor: pointer;
  }

  &__submit {
    width: 40%;
  }
}
