<div class="search-container">
    <div class="search-container__body">
        <div class = "search-container__close" (click)="close()">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M17.414 16L24 9.414L22.586 8L16 14.586L9.414 8L8 9.414L14.586 16L8 22.586L9.414 24L16 17.414L22.586 24L24 22.586z"/></svg>
        </div>
        <div class="search-container__search search">
            <div class="search__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                    class="tabler-icon tabler-icon-search">
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                    <path d="M21 21l-6 -6"></path>
                </svg>
            </div>

            <input class="search__input" type="text" placeholder="Поиск">
        </div>
        <form class="filters" [formGroup]="formFilters">
            <div class="filters__row row">
                <span class="row__title">Даты заезда и выезда</span>
                <div class="row__body_two-element">
                    <input type="number" formControlName="dateOfArrival" placeholder="Дата заезда">
                    <input type="number" formControlName="dateOfDeparture" placeholder="Дата отъезда">
                </div>
            </div>

            <!-- <div class="form-date">
                <div class="date">
                    <span>Дата и время заезда</span>
                    <div class="form-date">
                        <input type="number" formControlName="dateOfArrival" placeholder="Дата и время заезда">
                        <input type="date" formControlName="dateOfArrival">
                        <input type="time" formControlName="dateOfArrival">
                    </div>
                </div>
                <div class="date">
                    <span>Дата и время отъезда</span>
                    <div class="form-date">
                        <input type="number" formControlName="dateOfDeparture" placeholder="Дата и время отъезда">
                        <input type="date" formControlName="dateOfArrival">
                        <input type="time" formControlName="dateOfArrival">
                    </div>
                </div>
            </div> -->
            <div class="filters__row row">
                <input type="number" formControlName="numberOfPeople" placeholder="Кол-во человек">
            </div>
            <div class="filters__row row">
                <span class="row__title">Спальни и спальные места</span>
                <div class="row__body_two-element">
                    <input type="number" formControlName="numberOfBeds" placeholder="Кол-во спальных мест">
                    <input type="number" formControlName="numberOfBedrooms" placeholder="Кол-во спален">
                </div>
            </div>
            <div class="filters__row row type-house">
                <span class="row__title">Тип жилья</span>
                <div class="type-house__container">
                    <div class="type-house__block" formArrayName="typeHouses"
                        *ngFor="let house of type_houses; let i = index">
                        <input type="checkbox" [value]="house.isChecked" (change)="onCheckChange($event)">
                        {{house.title}}
                    </div>
                </div>
            </div>
            <div class="filters__row row">
                <span class="row__title">Цена</span>
                <div class="row__body_two-element">
                    <input type="number" formControlName="minPrice" placeholder="Цена от">
                    <input type="number" formControlName="maxPrice" placeholder="Цена до">
                </div>
            </div>
        </form>
        <div class="filters__btns btns">
            <div class="btns__clear" (click)="clearForm()">Очистить все</div>
            <button class="btns__submit" (click)="sumbitForm()">Поиск</button>
        </div>
    </div>
</div>