@if (this.loaderService.isLoading$ | async) {
<app-loader></app-loader>
}

<div class="catalog">
    <app-header></app-header>
    <div class="catalog__search-filter-block">
        <div class="catalog__search-block search-block">
            <span class="search-block__text">Начать поиск</span>
            <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M24.5711 15.5788V19.912C24.5711 21.7558 23.08 23.2494 21.2391 23.2494H15.201C14.4463 23.2494 13.8572 22.6409 13.8572 21.9033C13.8572 21.1474 14.4647 20.5573 15.201 20.5573H20.5212C21.2759 20.5573 21.865 19.9488 21.865 19.2113V15.5051C21.865 15.081 21.6625 14.6753 21.3312 14.4172L17.6862 11.6698C17.0051 11.1535 16.0478 11.1535 15.3667 11.6698L11.777 14.3803C11.4088 14.6569 11.1879 15.0994 11.1879 15.5788V21.9218C11.1879 22.6778 10.5804 23.2678 9.84408 23.2678C9.08932 23.2678 8.50024 22.6593 8.50024 21.9218V15.7079C8.50024 14.3065 9.16296 12.9974 10.2675 12.1676L11.2063 11.467L14.299 9.14367L14.6304 8.90396C15.7717 8.05578 17.3365 8.05578 18.4778 8.90396L18.8092 9.14367L21.9018 11.4854L22.9143 12.2598C23.9452 13.0158 24.5711 14.2697 24.5711 15.5788Z"
                    fill="#F4683F" />
                <path
                    d="M16.1009 19.6906C15.3461 19.6906 14.7202 19.0637 14.7202 18.3077V16.6482C14.7202 15.8922 15.3461 15.2653 16.1009 15.2653C16.8556 15.2653 17.4815 15.8922 17.4815 16.6482V18.3077C17.4815 19.0821 16.8556 19.6906 16.1009 19.6906Z"
                    fill="white" />
                <circle cx="16.0519" cy="16.5285" r="12.5" transform="rotate(-12.5764 16.0519 16.5285)"
                    stroke="white" />
                <path d="M27 24L37.4667 31.5156" stroke="white" stroke-width="3" stroke-linecap="round" />
            </svg>
        </div>
        <svg width="38" height="39" viewBox="0 0 38 39" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d_161_147)">
                <path d="M6.3335 8.77686H25.3335" stroke="#FF764D" stroke-width="2" stroke-linecap="round" />
            </g>
            <g filter="url(#filter1_d_161_147)">
                <path d="M6.3335 19.8604H15.8335" stroke="#FF764D" stroke-width="2" stroke-linecap="round" />
            </g>
            <g filter="url(#filter2_d_161_147)">
                <path d="M22.1665 19.8604H31.6665" stroke="#FF764D" stroke-width="2" stroke-linecap="round" />
            </g>
            <g filter="url(#filter3_d_161_147)">
                <path d="M12.6665 30.9438H31.6665" stroke="#FF764D" stroke-width="2" stroke-linecap="round" />
            </g>
            <g filter="url(#filter4_d_161_147)">
                <path
                    d="M28.5002 11.9437C30.2491 11.9437 31.6668 10.5259 31.6668 8.77702C31.6668 7.02812 30.2491 5.61035 28.5002 5.61035C26.7513 5.61035 25.3335 7.02812 25.3335 8.77702C25.3335 10.5259 26.7513 11.9437 28.5002 11.9437Z"
                    stroke="#FF764D" stroke-width="2" stroke-linecap="round" shape-rendering="crispEdges" />
            </g>
            <g filter="url(#filter5_d_161_147)">
                <path
                    d="M19.0002 23.0272C20.7491 23.0272 22.1668 21.6094 22.1668 19.8605C22.1668 18.1116 20.7491 16.6938 19.0002 16.6938C17.2513 16.6938 15.8335 18.1116 15.8335 19.8605C15.8335 21.6094 17.2513 23.0272 19.0002 23.0272Z"
                    stroke="#FF764D" stroke-width="2" stroke-linecap="round" shape-rendering="crispEdges" />
            </g>
            <g filter="url(#filter6_d_161_147)">
                <path
                    d="M9.50016 34.1102C11.2491 34.1102 12.6668 32.6924 12.6668 30.9435C12.6668 29.1946 11.2491 27.7769 9.50016 27.7769C7.75126 27.7769 6.3335 29.1946 6.3335 30.9435C6.3335 32.6924 7.75126 34.1102 9.50016 34.1102Z"
                    stroke="#FF764D" stroke-width="2" stroke-linecap="round" shape-rendering="crispEdges" />
            </g>
            <defs>
                <filter id="filter0_d_161_147" x="3.3335" y="7.77686" width="25" height="6" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="2" />
                    <feGaussianBlur stdDeviation="1" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_161_147" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_161_147" result="shape" />
                </filter>
                <filter id="filter1_d_161_147" x="3.3335" y="18.8604" width="15.5" height="6"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="2" />
                    <feGaussianBlur stdDeviation="1" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_161_147" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_161_147" result="shape" />
                </filter>
                <filter id="filter2_d_161_147" x="19.1665" y="18.8604" width="15.5" height="6"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="2" />
                    <feGaussianBlur stdDeviation="1" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_161_147" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_161_147" result="shape" />
                </filter>
                <filter id="filter3_d_161_147" x="9.6665" y="29.9438" width="25" height="6" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="2" />
                    <feGaussianBlur stdDeviation="1" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_161_147" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_161_147" result="shape" />
                </filter>
                <filter id="filter4_d_161_147" x="22.3335" y="4.61035" width="12.3333" height="12.3333"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="2" />
                    <feGaussianBlur stdDeviation="1" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_161_147" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_161_147" result="shape" />
                </filter>
                <filter id="filter5_d_161_147" x="12.8335" y="15.6938" width="12.3333" height="12.3333"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="2" />
                    <feGaussianBlur stdDeviation="1" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_161_147" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_161_147" result="shape" />
                </filter>
                <filter id="filter6_d_161_147" x="3.3335" y="26.7769" width="12.3333" height="12.3333"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha" />
                    <feOffset dy="2" />
                    <feGaussianBlur stdDeviation="1" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_161_147" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_161_147" result="shape" />
                </filter>
            </defs>
        </svg>
    </div>
    <!-- <app-search-container></app-search-container> -->
    @if (houses$ | async) {
    <app-houses-list [houses$]="houses$"></app-houses-list>
    }
</div>