// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body,
span,
h4 {
  border: 0;
  margin: 0;
}

// button {
//   min-width: 0%;
//   max-width: 100%;
//   cursor: pointer;
//   border: none;
//   border-radius: 200px;
//   padding: 10px;
//   text-align: center;
//   font-weight: 600;
//   font-size: 18px;
//   line-height: 150%;
//   font-size: 18px;
//   background: #f4683f;
//   color: #fff;
// }

// html,
// body {
//   height: 100%;
// }

body {
  background: linear-gradient(
      90deg,
      #161623 -189.03%,
      #161623e8 -149.37%,
      #161623a1 -105.16%,
      #16162342 -77.44%,
      #161623 107.08%
    ),
    url(./assets/background-photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Montserrat;
}
