span {
  font-family: Montserrat Alternates;
  line-height: 100%;
  letter-spacing: 0px;
}

.embla {
  position: relative;
  overflow: hidden;

  &__container {
    display: flex;
  }

  &__slide {
    transform: translate3d(0, 0, 0);
    flex: 1 0 100%;
  }

  &__additional-info {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    padding: 5px;
    background: #ffffff;
    box-shadow: 0px 9.47px 42.61px -2.37px #00000008;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__people {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.thumbs {
  margin-top: 0.8rem;
  overflow: hidden;

  &__container {
    display: flex;
    gap: 5%;
  }

  &-active {
    border: 1px solid black;
  }

  &__slide {
    flex: 0 0 30%;
    min-width: 0;
    padding-bottom: 5px;
  }
}

img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 30px;
  background: linear-gradient(
    180deg,
    #192640 0%,
    #ffffff 41.65%,
    #cfd1d7 90.37%,
    #2d3951 108.03%
  );

  &__body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding: 15px 0 0 0;
  gap: 10px;

  &__title {
    font-weight: 700;
    font-size: 21px;
  }

  &__price {
    justify-content: space-between;
    gap: 10px;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    justify-content: space-evenly;
  }

  &__value {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    margin: 10px 0;
  }

  p {
    font-weight: 500;
    font-size: 14px;
    text-align: justify;
    white-space: pre-line;
  }
}

.header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 900;
    font-size: 20px;
    text-transform: capitalize;
  }

  &__favourite {
    display: flex;
    background: #ffffff;
    box-shadow: 0 4px 20px #15162233;
    padding: 10px;
    border-radius: 26px;
    border: none;
  }
}

.bedroom-info {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 8px;
  width: 50%;

  &__bedrooms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  &__title {
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
  }

  &__value {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
  }
}

.house-area {
  background: #000;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 8px;
  color: #fff;
  padding: 10px;
  width: 50%;
  gap: 5px;

  &__title {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title2 {
    font-weight: 700;
    font-size: 11px;
    text-align: right;
    text-transform: uppercase;
  }

  &__value {
    font-weight: 700;
    font-size: 8px;
    text-transform: uppercase;
    text-align: left;
    width: 40%;
  }
}

.price-list {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  width: 100%;
  overflow: auto;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100px;
  height: 50px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background: #eb6434;
  color: #fff;

  &__title {
    font-weight: 700;
    font-size: 14px;
  }

  &__value {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;

  &__value {
    font-weight: 600;
    font-size: 14px;
    padding-left: 5px;
  }
}

.time-arrival-departure {
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 13px;
  background: #ff6731;

  &__block {
    padding: 15px;
    width: 50%;
    text-align: center;
  }

  &__text {
    font-weight: 700;
    font-size: 21px;
    color: #ffffff;
  }
}

.form-request {
  position: fixed;
  top: 0;
  padding: 5px 30px 0;
}
