img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 15px;

  &__body {
    display: flex;
    flex-direction: column;
  }
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: Raleway;
    font-weight: 800;
    font-size: 20px;
    line-height: 150%;
  }

  &__address {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
  }

  &__price {
    font-weight: 800;
    font-size: 22px;
    white-space: nowrap;
  }
}

.container {
  display: flex;
  flex-direction: column;

  &__title {
    font-family: Raleway;
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
  }

  &__price {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    justify-content: space-between;
  }

  &__value {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
  }
}

.price {
  display: flex;
  flex-direction: column;
  width: 33%;

  &__title {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: #727488;
  }

  &__value {
    font-family: Raleway;
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
  }
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 25%;

  &__value {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
  }
}
